<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: 'Post title' }) %>

</head>

<body>
  <%- include('includes/header') %>

    <div class="container">

      <div class="m-2 opacity-75 text-center text-dark">
        <%= post.date %>
      </div>

      <h1 class="mb-4 text-center display-1 fst-italic">
        <%= post.title %>
      </h1>

      <img class="shadow-lg rounded mx-auto d-block" width="1270" height="450" src="/uploads/<%=post.imgPath%>" />

      <p class="lead mt-4">
        <%= post.desc %>
      </p>
    </div>

    <div class="text-center">
      <a href="/update-post/<%= post._id%>" class="mb-4 w-20 btn btn-primary btn-lg">update Post</a>
      <form action="/delete-post/<%= post._id%>" method="DELETE">
        <button class="mb-4 w-20 btn btn-danger btn-lg" type="submit">delete
          Post</button>
      </form>

    </div>

    <%- include('includes/footer' )%>
</body>

</html>